@* create Template File *@
@import service.UserProvider
@(Capitalsform: Form[Capitals],userProvider: UserProvider)
@import helper._
@import views.html.partials._capitalsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h3>Human capital</h3>

		
	
@helper.form(action=routes.CapitalsController.save()){
@_capitalsFormFields(Capitalsform)
<br><br>
<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>
}}