@* create Template File *@
@import service.UserProvider
@(Accompanimentsform: Form[Accompaniments],userProvider: UserProvider)
@import helper._
@import views.html.partials._accompanimentsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h3>Support and Infrastructure</h3>

		
	
@helper.form(action=routes.AccompanimentsController.save()){
@_accompanimentsFormFields(Accompanimentsform)
<br><br>
<button class="btn btn-success" type="submit" onclick="test();"><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>

<script>

function test()
{
a="";

 el=document.getElementsByClassName('support');

 b1=document.getElementById('other');


	
  for (i=0,j=1;j<el.length-1,i<el.length-1;j++, i++)
 {

	 
 if ( (el[i].checked === true) && b1.checked=== false )
 {	 a=a+el[i].value+"/";
	 
 }
 if ( (el[i].checked === true) && b1.checked=== true )
 {	 a=a+el[j-1].value+"/";
	 
 }
 
 }
  
 
  
//alert(a);
//alert(document.getElementById("other1").value);

document.getElementById("programs_in_which_you_participate").value=a;

}
</script>



}

}