@(verificationUrl: String, token: String, name: String, email: String)
Hi @name,
<br />
<br />
<p>
	You recently signed up for TunisianStartup.<br />
	<br />
	Follow this link to <a href="@verificationUrl">activate your account</a> now.
</p>
<br />
<p>
	Cheers,<br /> 
	<i>The TunisianStartup Team</i>
</p>