@import service.UserProvider
@(Fundingform: Form[Funding],userProvider: UserProvider)
@import helper._
@import views.html.partials._fundingFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h3>Funding</h3>
	<p>Evaluate each of the following propositions:</p>
		
	
@helper.form(action=routes.FundingController.save()){
@_fundingFormFields(Fundingform)
<br><br>
<button class="btn btn-success" type="submit" onclick="test();"><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>

<script>

function test()
{
a="";
op="";
cu="";
 el=document.getElementsByClassName('acb');

 b1=document.getElementById('other1');

 el1=document.getElementsByClassName('10');
 otther=document.getElementById('otther');

 el2=document.getElementsByClassName('ab');
 other3=document.getElementById('other3');
	
  for (i=0,j=1;j<el.length-1,i<el.length-1;j++, i++)
 {

	 
 if ( (el[i].checked === true) && b1.checked=== false )
 {	 a=a+el[i].value+"/";
	 
 }
 if ( (el[i].checked === true) && b1.checked=== true )
 {	 a=a+el[j-1].value+"/";
	 
 }
 
 }
  
  for (i=0,j=1;j<el1.length-1,i<el1.length-1;j++, i++)
  {

 	 
  if ( (el1[i].checked === true) &&  otther.checked=== false )
  {	 op=op+el1[i].value+"/";
 	 
  }
  if ( (el1[i].checked === true) &&  otther.checked=== true )
  {	 op=op+el1[j-1].value+"/";
 	 
  }
  
  }

  for (i=0,j=1;j<el2.length-1,i<el2.length-1;j++, i++)
  {

 	 
  if ( (el2[i].checked === true) && other3.checked=== false )
  {	 cu=cu+el2[i].value+"/";
 	 
  }
  if ( (el2[i].checked === true) && other3.checked=== true )
  {	 cu=cu+el2[j-1].value+"/";
 	 
  }
  
  }

  
//alert(cu);
//alert(document.getElementById("autre_changement_urgent").value);

document.getElementById("hid").value=a;

document.getElementById("organisme_participant").value=op;
document.getElementById("changement_urgent").value=cu;
}
</script>

}}

