@* create Template File *@
@import service.UserProvider
@(Weightingsform: Form[Weightings],userProvider: UserProvider)
@import helper._
@import views.html.partials._weightingsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {

<h1>What do startups think about the ecosystem in Tunisia?</h1>
	<h3>Weighting of the ecosystem</h3>
	<script>
	

	
	</script>
		
	
@helper.form(action=routes.WeightingsController.save()){
@_weightingsFormFields(Weightingsform)
<br><br>
<button class="btn btn-success" type="submit" ><i class="glyphicon glyphicon-plus"></i><b>save</b></button>
}}