@* _accompanimentsFormFields Template File *@

@import helper._
@(Accompanimentsform: Form[Accompaniments])

<label>16-Check the programs you have participated in for the development of your startup: *</label>
<br>
<input class='support' type="checkbox" name='support[]' value='B@@LABS' onclick='deRequire("support")' required>
B@@LABS
<br>
<input class='support' type="checkbox" name='support[]' value='Enpact Mentoring' onclick='deRequire("support")' required>
Enpact Mentoring
<br>
<input class='support' type="checkbox" name='support[]' value='Flat6Labs' onclick='deRequire("support")' required>
Flat6Labs
<br>
<input class='support' type="checkbox" name='support[]' value='Founder Institute' onclick='deRequire("support")' required>
Founder Institute
<br>
<input class='support' type="checkbox" name='support[]' value='Seedstars' onclick='deRequire("support")' required>
Seedstars
<br>
<input class='support' type="checkbox" name='support[]' value='Yunus Social Business' onclick='deRequire("support")' required>
Yunus Social Business
<br>
<input class='support' type="checkbox" name='support[]' value='None' onclick='deRequire("support")' required>
None
<br>
<input class='support' id='other' type="checkbox" name='support[]' onclick='deRequire("support"); oblig()' required>
Other
<br>
<input type="text" placeholder="Other programs" id='other1' class="form-control" name="other_programs" disabled required '>
<br>
<input type="text" id='programs_in_which_you_participate' name="programs_in_which_you_participate" hidden >
<br>
<label>17-Entrepreneurship support organizations bring real added value (accelerators, co-working, incubators, monitoring ...): *</label>
<br>
<b>Poor</b>
<input type="radio" 
     name="organisms_quality" value="1">
    1
<input type="radio" 
     name="organisms_quality" value="2" required>
     2
<input type="radio" 
     name="organisms_quality" value="3">
    3
<input type="radio" 
     name="organisms_quality" value="4">
     4
<input type="radio" 
     name="organisms_quality" value="5">
     5
     <b>Excellent</b>
<br>

<label>18-It is easy to find experts (legal, accounting, investment ...) for the support of startups?*</label>
<br>
<b>Poor</b>
<input type="radio" 
     name="easy_to_find_experts" value="1">
    1
<input type="radio" 
     name="easy_to_find_experts" value="2" required>
     2
<input type="radio" 
     name="easy_to_find_experts" value="3">
    3
<input type="radio" 
     name="easy_to_find_experts" value="4">
     4
<input type="radio" 
     name="easy_to_find_experts" value="5">
     5
     <b>Excellent</b>
<br>
<label>19-Evaluate the quality of the digital infrastructure in Tunisia (optical fiber, the quality of the connection, 4G ...): *</label>
<br>
<b>Poor</b>
<input type="radio" 
     name="qualite_infrastructure_digital" value="1">
    1
<input type="radio" 
     name="qualite_infrastructure_digital" value="2" required>
     2
<input type="radio" 
     name="qualite_infrastructure_digital" value="3">
    3
<input type="radio" 
     name="qualite_infrastructure_digital" value="4">
     4
<input type="radio" 
     name="qualite_infrastructure_digital" value="5">
     5
     <b>Excellent</b>
<br><br>
<label>20-What is your preferred internet provider?</label>
<br>
      <select name="internet_provider_name" class="form-control" >
  <option value="" disabled selected>select an option</option>
  <option value="Tunisie Telecom">Tunisie Telecom</option>
  <option value="Ooredoo">Ooredoo</option>
  <option value="Orange">Orange</option>
  <option value="TopNet">TopNet</option>
  <option value="GlobalNet">GlobalNet</option>
  <option value="Hexabyte">Hexabyte</option>
</select>
<br>
<input type="text" placeholder="other providers" name="other_suppliers" class="form-control">
<br>
<label>21-What is your favorite telephone provider:</label><br>
 <select name="preferred_telephone_operator" class="form-control" >
  <option value="" disabled selected>select an option</option>
  <option value="Tunisie Telecom">Tunisie Telecom</option>
  <option value="Ooredoo">Ooredoo</option>
  <option value="Orange">Orange</option>
  </select>
  <br>
 <label>22-What is the preferred electronic payment system?</label> 
<br>
 <select name="payment_system" class="form-control" >
  <option value="" disabled selected>select an option</option>
  <option value="The post">The post</option>
  <option value="SMT">SMT</option>
  <option value="Gpgateway">Gpgateway</option>
  </select>
<script>
function oblig() {
	other=document.getElementById('other');
	other1=document.getElementById('other1');
	if(other.checked == true)
		{other1.disabled = false;
	other1.required = true;
		}
	if(other.checked == false)
	{other1.disabled = true;
other1.required = false;
document.getElementById("other1").value="";
	}
}

function deRequire() {
    el=document.getElementsByClassName('support');

    var atLeastOneChecked=false;
    for (i=0; i<el.length; i++) {
        if (el[i].checked === true) {
            atLeastOneChecked=true;
        }
    }

    if (atLeastOneChecked === true) {
        for (i=0; i<el.length; i++) {
            el[i].required = false;
        }
    } else {
        for (i=0; i<el.length; i++) {
            el[i].required = true;
        }
    }
    }  


</script>

