@* _activitiesFormFields Template File *@

@import helper._
@(Activitiesform: Form[Activities])

  	 <script >
           $(function () {
  $("#datepicker").datepicker({ 
        autoclose: true, 
        todayHighlight: true
  }).datepicker('update', new Date());
});

           function oblig() {
       		other1=document.getElementById('other1');
       		other2=document.getElementById('other2');
       		if(other1.checked == true)
       			{other2.disabled = false;
       		other2.required = true;}

       		if(other1.checked == false)
       		{other2.disabled = true;
       	other2.required = false;
       	document.getElementById("other2").value="";
       	
       	}	

           }


           function oblig1() {
       		other3=document.getElementById('other3');
       		other4=document.getElementById('other4');
       		if(other3.checked == true)
       			{other4.disabled = false;
       		other4.required = true;}

       		if(other3.checked == false)
       		{other4.disabled = true;
       	other4.required = false;
       	document.getElementById("other4").value="";
       	
       	}	

           }

           function oblig2() {
       		other5=document.getElementById('other5');
       		other6=document.getElementById('other6');
       		if(other5.checked == true)
       			{other6.disabled = false;
       		other6.required = true;}

       		if(other5.checked == false)
       		{other6.disabled = true;
       	other6.required = false;
       	document.getElementById("other6").value="";
       	
       	}	

           }

           function oblig3() {
          		other7=document.getElementById('other7');
          		other8=document.getElementById('other8');
          		if(other7.checked == true)
          			{other8.disabled = false;
          		other8.required = true;}

          		if(other7.checked == false)
          		{other8.disabled = true;
          	other8.required = false;
          	document.getElementById("other8").value="";
          	
          	}	

              }
           function deRequire() {
               el=document.getElementsByClassName('Innov');

               var atLeastOneChecked=false;//at least one cb is checked
               for (i=0; i<el.length; i++) {
                   if (el[i].checked === true) {
                       atLeastOneChecked=true;
                   }
               }

               if (atLeastOneChecked === true) {
                   for (i=0; i<el.length; i++) {
                       el[i].required = false;
                   }
               } else {
                   for (i=0; i<el.length; i++) {
                       el[i].required = true;
                   }
               }}  

           function deRequire1() {
               el1=document.getElementsByClassName('Geo');

               var atLeastOneChecked=false;//at least one cb is checked
               for (i=0; i<el1.length; i++) {
                   if (el1[i].checked === true) {
                       atLeastOneChecked=true;
                   }
               }

               if (atLeastOneChecked === true) {
                   for (i=0; i<el1.length; i++) {
                       el1[i].required = false;
                   }
               } else {
                   for (i=0; i<el1.length; i++) {
                       el1[i].required = true;
                   }
               }}  
           function deRequire2() {
               el3=document.getElementsByClassName('diff');

               var atLeastOneChecked=false;//at least one cb is checked
               for (i=0; i<el3.length; i++) {
                   if (el3[i].checked === true) {
                       atLeastOneChecked=true;
                   }
               }

               if (atLeastOneChecked === true) {
                   for (i=0; i<el3.length; i++) {
                       el3[i].required = false;
                   }
               } else {
                   for (i=0; i<el3.length; i++) {
                       el3[i].required = true;
                   }
               }}  
           
          
        </script>
 
  <label>1-Date of constitution : *</label>
  <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
    <input class="form-control" type="text" name="date_constitution"  id="date_constitution" readonly >
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
<br>
<label>2-Activity sector (According to Nomenclature of Tunisian Activities 120.01 (2009); INS): *</label>


    <select class="form-control" name="activity_sector" required>
  <option value="" disabled selected>Select an option</option>
  <option value="AGRICULTURE, SILVICULTURE AND FISHING">AGRICULTURE, SILVICULTURE AND FISHING</option>
  <option value="EXTRACTIVE INDUSTRIES">EXTRACTIVE INDUSTRIES</option>
  <option value="MANUFACTURING INDUSTRY">MANUFACTURING INDUSTRY</option>
  <option value="PRODUCTION AND DISTRIBUTION OF ELECTRICITY, GAS, STEAM AND AIR CONDITIONING">PRODUCTION AND DISTRIBUTION OF ELECTRICITY, GAS, STEAM AND AIR CONDITIONING</option>
  <option value="WATER PRODUCTION AND DISTRIBUTION, SANITATION, WASTE MANAGEMENT AND DEPOLLUTION">WATER PRODUCTION AND DISTRIBUTION, SANITATION, WASTE MANAGEMENT AND DEPOLLUTION</option>
  <option value="CONSTRUCTION">CONSTRUCTION</option>
  <option value=" TRADE; REPAIR OF AUTOMOBILES AND MOTORCYCLES"> TRADE; REPAIR OF AUTOMOBILES AND MOTORCYCLES</option>
  <option value="TRANSPORT AND STORAGE">TRANSPORT AND STORAGE</option>
  <option value="ACCOMMODATION AND CATERING">ACCOMMODATION AND CATERING</option>
  <option value="INFORMATION AND COMMUNICATION">INFORMATION AND COMMUNICATION</option>
  <option value="FINANCIAL AND INSURANCE ACTIVITIES">FINANCIAL AND INSURANCE ACTIVITIES</option>

  <option value="REAL ESTATE ACTIVITIES">REAL ESTATE ACTIVITIES</option>
  <option value="SPECIALIZED, SCIENTIFIC AND TECHNICAL ACTIVITIES">SPECIALIZED, SCIENTIFIC AND TECHNICAL ACTIVITIES</option>
  <option value="ACTIVITIES OF ADMINISTRATIVE AND SUPPORT SERVICES">ACTIVITIES OF ADMINISTRATIVE AND SUPPORT SERVICES</option>
  <option value="PUBLIC ADMINISTRATION">PUBLIC ADMINISTRATION</option>
  <option value="EDUCATION">EDUCATION</option>
  <option value="HUMAN HEALTH AND SOCIAL ACTION">HUMAN HEALTH AND SOCIAL ACTION</option>
  <option value="ARTS, PERFORMANCES AND RECREATIONAL ACTIVITIES">ARTS, PERFORMANCES AND RECREATIONAL ACTIVITIES</option>
  <option value="OTHER SERVICE ACTIVITIES">OTHER SERVICE ACTIVITIES</option>
</select>
<br> 
 <label>3-Startup phase: *</label>
 <select class="form-control" name="startup_phase" required>
  <option value="" disabled selected>Select an option</option>
   <option value="Idea" >Idea</option>
    <option value="Prototype">Prototype</option>
     <option value="Validation">Validation</option>
      <option value="growth phase">growth phase</option>
       
       </select>
       <br>
    <label>4-Innovation : *</label> <br>  
    <input class='Innov' type="checkbox" name='Innov[]' value=' Market' onclick='deRequire("Innov")' required>Market<br>
     <input class='Innov' type="checkbox" name='Innov[]' value='Technology' onclick='deRequire("Innov")' required>Technology<br>
      <input class='Innov' type="checkbox" name='Innov[]' value='Distribution' onclick='deRequire("Innov")' required>Distribution<br>
       <input class='Innov' type="checkbox" name='Innov[]' value='Process' onclick='deRequire("Innov")' required>Process<br>
        <input class='Innov' type="checkbox" name='Innov[]' value='Communication' onclick='deRequire("Innov")' required>Communication<br>
         <input class='Innov' type="checkbox" name='Innov[]' id='other1' value='Other' onclick='deRequire("Innov"); oblig()' required>Other
         <br>

<input type="text"  class="form-control" placeholder="Other" id='other2' name="other_innovation" disabled required '>
<br>

<input type="text" id="hid" name="innovation" hidden >

<br>
<label>5-Number of employees: *</label>   
  <input class="form-control" name="nbr_employees" type="number" onKeyPress="if(this.value.length==4) return false;" min="0"  required>
 <label>6-Type of employee contract:</label>  <br> 

<input class='type' type="checkbox" name='type[]' value=' SIVP' >SIVP<br>
     <input class='type' type="checkbox" name='type[]' value='CSD' >CSD<br>
      <input class='type' type="checkbox" name='type[]' value='CDI' >CDI<br>
       <input class='type' type="checkbox" name='type[]' value='FREELANCE' >FREELANCE<br>
        <input class='type' type="checkbox" name='type[]' value='TRAINEE' >TRAINEE<br>
         <input class='type' type="checkbox" name='type[]' id='other3' value='Other' onclick='oblig1()'>Other
         <br>

<input type="text" class="form-control" placeholder="Other" id='other4' name="other_type_contract" disabled required '>
<br>

<input type="text" id="type_contract_employee" name="type_contract_employee" hidden >
<br>
<label>7-What is your turnover for the past year? *</label>

      <select class="form-control" name="interval_revenue" required>
  <option value="" selected>No turnover made</option>
  <option value="0-50 kDNT">    Between 0 and 50 KDNT	</option>
  <option value="50-100 KDNT">Between 50 KDNT and 100 KDNT</option>
  <option value="100-500 kDNT">Between 100 KDNT and 500 KDNT</option>
   <option value="500-1 MDNT">Between 500 KDNT Dinars and 1 MDNT</option>
  <option value="1-10 MDNT">Between 1 MDNT and 10 MDNT</option>
  <option value="10-30 MDNT">Between 10 MDNT and 30 MDNT</option>
  <option value=">30 MDNT">More than 30 MDNT</option>
  
</select>
<br>
<label>8-Your turnover covers your expenses? *</label>
 <input  type="radio" name="enough_cover_charge" value=1 required>
                                    Oui
                                
                    		
                                  <input  type="radio" name="enough_cover_charge" value=0 required>
                                  Non

<br><br>
<label>9-Check the technologies you develop or plan to develop in your startup:</label><br>

 <input class='Tech' type="checkbox" name='Tech[]' value='Mobile Development' >Mobile Development<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Web development' >Web development<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Artificial Intelligence & Machine Learning' >Artificial Intelligence & Machine Learning<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Blockchain' >Blockchain<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Mobile Payment' >Mobile Payment<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Internet of Things (IoT)' >Internet of Things (IoT)<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Data Mining, Analytics & Business Intelligence' >Data Mining, Analytics & Business Intelligence<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' drones' >drones<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' robotics' >robotics<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Augmented Reality , Virtual Reality (AR ,VR)' >Augmented Reality , Virtual Reality (AR , VR)<br>
 <input class='Tech' type="checkbox" name='Tech[]' value=' Cloud computing' >Cloud computing<br>
 <input class='Tech' type="checkbox" name='Tech[]' id='other5' value=' Other' onclick='oblig2()' >Other<br>



<input type="text" class="form-control" placeholder="Other" id='other6' name="other_technology" disabled required '>
<br>

<input type="text" id="technology" name="technology" hidden >


<label>10-What is the average annual growth rate of your turnover?</label>

<select class="form-control" name="growth_rate" >
  <option value="" selected>products are not commercialized</option>

 <option value="0-5 %">Between 0 and 5%</option>
                                        <option value="5-10 %">Between 5 and 10%</option>
                                         <option value="10-20 %">Between 10 and 20%</option>
                                           <option value="20-50 %">Between 20 and 50%</option>
                                           <option value="50-100 %">Between 50 and 100%</option>
                                           <option value=">100 %">More than 100%</option>
</select>
<br>

<label>11-Percentage of the international revenue: *</label>

<select  class="form-control" name="percentage_international_revenue" required>
                            <option value=""> select an option </option>
                          	<option value="0"> 0% </option>
                            <option value="10">10%</option>
                            <option value="30">30%</option>
                            <option value="50">50%</option>
                            <option value="70">70%</option>
                            <option value="90">90%</option>
                            <option value="100">100%</option>
                        </select>

<br>
<label>12-How much do you think your business needs in currency per year?</label>


 <select class="form-control" name="estimation">
                  <option value=" ">Need no currency</option>
                  <option value="0-1000 DNT">Between 0 and 1000 DNT </option>
                  <option value="1-10 kdnt">Between 1 and 10 KDNT</option>
                  <option value="10-20 KDNT">Between 10 and 20 KDNT</option>
                  <option value="20-50 KDNT">Between 20 and 50 KDNT</option>
                  <option value="50-100 KDNT">Between 50 and 100 KDNT</option>
                  <option value="200-500 KDNT">Between 200 and 500 KDNT</option>
                  <option value="500 KDNT-1 MDNT">Between 500 KDNT and 1 MDNT</option>
                  <option value=">1 MDNT">More than 1 MDNT</option>
                
                </select>
   <label>13 - Revenue model:</label>
   <br>
 <input  type="radio" name="income_model" value="recurrent">
                                    Recurrent
<input  type="radio" name="income_model" value="une fois">
                                 Once
 
 <br>
 <label>14-Geographically Targeted Markets: *</label>
 <br>
 <input class='Geo' type="checkbox" name='Geo[]' value='Tunis' required onclick='deRequire1("Geo")'>Tunis<br>
  <input class='Geo' type="checkbox" name='Geo[]' value='Europe' required onclick='deRequire1("Geo")'>Europe<br>
   <input class='Geo' type="checkbox" name='Geo[]' value='Africa' required onclick='deRequire1("Geo")'>Africa<br>
    <input class='Geo' type="checkbox" name='Geo[]' value='Asia' required onclick='deRequire1("Geo")'>Asia<br>
     <input class='Geo' type="checkbox" name='Geo[]' value='North America' required onclick='deRequire1("Geo")'>North America<br>
     <input class='Geo' type="checkbox" name='Geo[]' value='Middle East' required onclick='deRequire1("Geo")'>Middle East<br>
  <input class='Geo' type="checkbox" name='Geo[]' value='Other' id='other7' required onclick='deRequire1("Geo");oblig3()'>Other<br>   
 <input type="text" class="form-control" placeholder="Other" id='other8' name="other_geographical_targeting" disabled required '>

<br>

<input type="text" id="geographical_targeting" name="geographical_targeting" hidden >              
  <br>
  <label>15-Type of difficulty encountered: *</label><br>
  <input  class="diff" type="checkbox" name="diff[]" value=" Administrative" required onclick='deRequire2("diff")'>  Administrative<br>
 <input  class="diff" type="checkbox" name="diff[]" value=" Finance" required onclick='deRequire2("diff")'>  Finance<br>
 <input  class="diff" type="checkbox" name="diff[]" value=" Recruitment" required onclick='deRequire2("diff")'>  Recruitment<br>
 <input  class="diff" type="checkbox" name="diff[]" value=" Marketing" required onclick='deRequire2("diff")'>  Marketing<br>
  <input  class="diff" type="checkbox" name="diff[]" value=" Export" required onclick='deRequire2("diff")'>  Export<br>                             
  <input  class="diff" type="checkbox" name="diff[]" value=" None" required onclick='deRequire2("diff")'>  None<br>   

<input type="text" id="difficulty_type" name="difficulty_type" hidden >              
  <br> 
  
  <label>16-Are you looking for funding?</label><br>
   <input  type="radio" name="research_funding" value="1">Yes
   <input  type="radio" name="research_funding" value="0" >No
<br>
<label>17-What is the urgency of the survey?</label><br>

<select class="form-control" name="urgency_survey">
                        <option value="">select an option</option>
                        <option value="short-term">short term (0 to 6 months)</option>
                        <option value="medium-term">medium term (6 to 12 months)</option>
                        <option value="long term">long term (more than 2 years)</option>
                      </select>
