@* _capitalsFormFields Template File *@

@(Capitalsform: Form[Capitals])
<p>23-In terms of recruitment, do you think that passion is more important than the diploma? *</p>
<b>Poor</b>
<input type="radio" 
     name="recrutement_profils" value="1">
    1
<input type="radio" 
     name="recrutement_profils" value="2" required>
     2
<input type="radio" 
     name="recrutement_profils" value="3">
    3
<input type="radio" 
     name="recrutement_profils" value="4">
     4
<input type="radio" 
     name="recrutement_profils" value="5">
     5
     <b>Excellent</b>
     <br>
     <p>24-In Tunisia, it is easy to recruit profiles that interest your startup? *</p>
<b>Poor</b>
<input type="radio" 
     name="profils" value="1">
    1
<input type="radio" 
     name="profils" value="2" required>
     2
<input type="radio" 
     name="profils" value="3">
    3
<input type="radio" 
     name="profils" value="4">
     4
<input type="radio" 
     name="profils" value="5">
     5
     <b>Excellent</b>
     <br>
     <p>25-Brain drain, is a threat to your startup? *</p>
<b>Poor</b>
<input type="radio" 
     name="brain_drain" value="1">
    1
<input type="radio" 
     name="brain_drain" value="2" required>
     2
<input type="radio" 
     name="brain_drain" value="3">
    3
<input type="radio" 
     name="brain_drain" value="4">
     4
<input type="radio" 
     name="brain_drain" value="5">
     5
     <b>Excellent</b>