@* _culturesFormFields Template File *@

@import helper._
@(Culturesform: Form[Cultures])

  <label>14-What was the reaction of your entourage when launching your startup?</label>
  <br>
   <b>Not favorable</b>
<input type="radio" 
     name="Reaction_Entourage" value="1">
    1
<input type="radio" 
     name="Reaction_Entourage" value="2" >
     2
<input type="radio" 
     name="Reaction_Entourage" value="3">
    3
<input type="radio" 
     name="Reaction_Entourage" value="4">
     4
<input type="radio" 
     name="Reaction_Entourage" value="5">
     5
     <b>favorable</b>
<br><br>
 <label>15-In your entourage do you have successful entrepreneurs? (Success stories) *</label>
 <br>
  
     <b>No success stories</b>
<input type="radio" 
     name="Entourage_Experiences" value="1">
    1
<input type="radio" 
     name="Entourage_Experiences" value="2" required>
     2
<input type="radio" 
     name="Entourage_Experiences" value="3">
    3
<input type="radio" 
     name="Entourage_Experiences" value="4">
     4
<input type="radio" 
     name="Entourage_Experiences" value="5">
     5
     <b>Several success stories</b>
<br>
