@* _fundingFormFields Template File *@

@import helper._
@(Fundingform: Form[Funding])


<label>9-How did you finance the launch of your startup? *</label>
<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Family and friends' onclick='deRequire("acb")' required>
 Family and friends

<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Personal financing and savings' onclick='deRequire("acb")' required>
  Personal financing and savings

<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Donations, Grants or Awards' onclick='deRequire("acb")' required>
  Donations, Grants or Awards

<br>

<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Business Angels' onclick='deRequire("acb")' required>
  Business Angels
 
<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Priming Background 2' onclick='deRequire("acb")' required>
 Priming Background 2

<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='VC or Investment Fund' onclick='deRequire("acb")' required>
 VC or Investment Fund

<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Foreign financing' onclick='deRequire("acb")' required>
  Foreign financing

<br>
<input class='acb' type="checkbox" name='financement_lancement_start[]' value='Credit Bank' onclick='deRequire("acb")' required>
  Credit Bank 

<br>

  <input class='acb' type="checkbox" name='financement_lancement_start[]' value='9' id='other1' onclick='deRequire("acb"); oblig()' required>
  Other

<br>

<input type="text" placeholder="Other" id='other2' class="form-control" name="autre_financement_lancement_startup" disabled required '>
<br>

<input type="text" id="hid" name="financement_lancement_startup" hidden >

<br>

<label>10-Check the organizations that participated in the financing of your startup:</label>
  <br>
  <input class='10' type="checkbox" name='organisme_particip[]' value='UGFS' >
UGFS	

<br>
 <input class='10' type="checkbox" name='organisme_particip[]' value='INTILAQ'>

 INTILAQ

<br>
<input class='10' type="checkbox" name='organisme_particip[]' value='CDC'>

  CDC
<br>

<input class='10' type="checkbox" name='organisme_particip[]' value='Diva Sicar'>
  Diva Sicar
  

<br>
<input class='10' type="checkbox" name='organisme_particip[]' value=' Réseau Entreprendre' >
 Réseau Entreprendre
<br>
<input class='10' type="checkbox" name='organisme_particip[]' value=' Youness Social Business' >
 Youness Social Business

<br>
<input class='10' type="checkbox" name='organisme_particip[]' value=' No one'  >
  No one

<br>
<input class='10' type="checkbox" id="otther" name='organisme_particip[]' value='Other' onclick='oblig1()'>
Other
<br>
<input type="text" placeholder="Other" id='autre_organisme_participant'class="form-control" class="form-control" class="form-control" name="autre_organisme_participant" disabled required '>
<br>

<input type="text" id="organisme_participant" name="organisme_participant" hidden >

<br>

<label>11-If you got an investment, how long does it take from first contact to completing the financing? *</label>
<br>
      <select class="form-control" name="duree_contact_realisation" required>
  <option value="" disabled selected>select an option</option>
  <option value="less than a month">less than a month</option>
  <option value="between 1 and 3 months">between 1 and 3 months</option>
  <option value="between 3 and 6 months">between 3 and 6 months</option>
  <option value="between 6 months and 1 year">between 6 months and 1 year</option>
  <option value="between 1 and 2 years">between 1 and 2 years</option>
  <option value="more than 2 years">more than 2 years</option>
</select>
<br>
<br>
<label>12-Evaluate the quality of start-up financing in Tunisia: *</label>   
   <br>
   <b>Poor</b>
<input type="radio" 
     name="qualite_financement" value="1">
    1
<input type="radio" 
     name="qualite_financement" value="2" required>
     2
<input type="radio" 
     name="qualite_financement" value="3">
    3
<input type="radio" 
     name="qualite_financement" value="4">
     4
<input type="radio" 
     name="qualite_financement" value="5">
     5
     <b>Excellent</b>
<br>
<br>
<label>13-What is the most urgent change you expect from the sector? *</label>
<br>
<input class='ab' type="checkbox" name='changement_urge[]' value='Trust,Transparency' onclick='deRequire1("ab")' required>
Trust,Transparency
<br>
<input class='ab' type="checkbox" name='changement_urge[]' value='Respect for deadlines' onclick='deRequire1("ab")' required>
Respect for deadlines
<br>
<input class='ab' type="checkbox" name='changement_urge[]' value='The valuation method' onclick='deRequire1("ab")' required>
The valuation method
<br>
<input class='ab' type="checkbox" name='changement_urge[]' value='Financing tools' onclick='deRequire1("ab")' required>
Financing tools
<br>
<input class='ab' type="checkbox" name='changement_urge[]' value='The qualification of stakeholders' onclick='deRequire1("ab")' required>
The qualification of stakeholders
<br>
<input class='ab' type="checkbox" id='other3' name='changement_urge[]' value='Other' onclick='deRequire1("ab"); oblig3()' required>
Other
<br>
<input type="text" placeholder="Other" id='autre_changement_urgent' name="autre_changement_urgent" class="form-control" disabled required '>
<br>
<input type="text" id='changement_urgent' name="changement_urgent" hidden >

	<script>
	function oblig() {
		otherr=document.getElementById('other1');
		other2=document.getElementById('other2');
		if(otherr.checked == true)
			{other2.disabled = false;
		other2.required = true;
			}
		if(otherr.checked == false)
		{other2.disabled = true;
	other2.required = false;
	document.getElementById("other2").value="";
		}
			
		
	
	}
	function oblig1() {
		otther=document.getElementById('otther');
		autre_organisme_participant=document.getElementById('autre_organisme_participant');
		if(otther.checked == true)
			{autre_organisme_participant.disabled = false;
		autre_organisme_participant.required = true;}

		if(otther.checked == false)
		{autre_organisme_participant.disabled = true;
	autre_organisme_participant.required = false;
	document.getElementById("autre_organisme_participant").value="";
	
	}	
		
	
	}


	function oblig3() {
		other3=document.getElementById('other3');
		autre_changement_urgent=document.getElementById('autre_changement_urgent');
		if(other3.checked == true)
			{autre_changement_urgent.disabled = false;
			autre_changement_urgent.required = true;}

		if(other3.checked == false)
		{autre_changement_urgent.disabled = true;
		autre_changement_urgent.required = false;
	document.getElementById("autre_changement_urgent").value="";
	
	}	
		
	
	}
	


	
	 function deRequire() {
         el=document.getElementsByClassName('acb');

         var atLeastOneChecked=false;//at least one cb is checked
         for (i=0; i<el.length; i++) {
             if (el[i].checked === true) {
                 atLeastOneChecked=true;
             }
         }

         if (atLeastOneChecked === true) {
             for (i=0; i<el.length; i++) {
                 el[i].required = false;
             }
         } else {
             for (i=0; i<el.length; i++) {
                 el[i].required = true;
             }
         }}  
function deRequire1(){

	el1=document.getElementsByClassName('ab');
	var atLeastOneChecked1=false;//at least one ab is checked
    for (i=0; i<el1.length; i++) {
        if (el1[i].checked === true) {
            atLeastOneChecked1=true;
        }
    }

    if (atLeastOneChecked1 === true) {
        for (i=0; i<el1.length; i++) {
            el1[i].required = false;
        }
    } else {
        for (i=0; i<el1.length; i++) {
            el1[i].required = true;
        }
    }}  
	

	 
 

	
	</script>