@* _marketsFormFields Template File *@

@import helper._
@(Marketsform: Form[Markets])



<label>26-Consumers (individuals or companies) are open to buying innovative products and services from startups: *</label>
<br>
<b>Poor</b>
<input type="radio" 
     name="open_consumers_purchase_product" value="1">
    1
<input type="radio" 
     name="open_consumers_purchase_product" value="2" required>
     2
<input type="radio" 
     name="open_consumers_purchase_product" value="3">
    3
<input type="radio" 
     name="open_consumers_purchase_product" value="4">
     4
<input type="radio" 
     name="open_consumers_purchase_product" value="5">
     5
     <b>Excellent</b>
<br>
<label>27-What is the percentage of online sales relative to your general sales:</label>
<br>
<input type="radio" 
     name="percentage_sale_online" value="0">
    0%
<input type="radio" 
     name="percentage_sale_online" value="20" >
     20%
<input type="radio" 
     name="percentage_sale_online" value="40">
    40%
<input type="radio" 
     name="percentage_sale_online" value="60">
     60%
<input type="radio" 
     name="percentage_sale_online" value="80">
     80%
  <input type="radio" 
     name="percentage_sale_online" value="100">
     100%
<br><br>
<label>28-Are you interested in public markets ?</label><br>
<input type="radio" 
     name="public_markets_interest" value="1" id='yes' onclick="methd();">
     Yes
  <input type="radio" 
     name="public_markets_interest" id='no' value="0" onclick="methd();">
     No
     <br>
     <input type="text" name="answer_interest" class="form-control" placeholder="No, why?" id='no1' disabled  >
     <br>
     <label>29-Evaluate the sales cycle in the local market: *</label><br>
     
     <b>Short</b>
<input type="radio" 
     name="online_sales_cycle" value="1">
    1
<input type="radio" 
     name="online_sales_cycle" value="2" required>
     2
<input type="radio" 
     name="online_sales_cycle" value="3">
    3
<input type="radio" 
     name="online_sales_cycle" value="4">
     4
<input type="radio" 
     name="online_sales_cycle" value="5">
     5
     <b>Long</b>
<br>
<label>30-What is the reason for the possible extension of the sales cycle:</label><br>     
 
 <input class='possible_reason' type="checkbox" name='possible_reason[]' value='Lack of confidence in startups'>
Lack of confidence in startups
<br>
<input class='possible_reason' type="checkbox" name='possible_reason[]' value='strong competition'>
strong competition
<br>
<input class='possible_reason' type="checkbox" name='possible_reason[]' value='Resistance to innovation'>
Resistance to innovation
<br>
<input class='possible_reason' type="checkbox" name='possible_reason[]' value='Complicated purchasing procedures'>
Complicated purchasing procedures
<br>
<input class='possible_reason' type="checkbox" id='other' name='possible_reason[]' value='Other' onclick="oblig();">
Other
<br>
<input type="text" placeholder="Other"  class="form-control" id='other1' name="other_possible_reasons" disabled required '>
<br>
<input type="text" id='possible_reasons' name="possible_reasons" hidden >
<br>    
<script>


function methd()
{
    no=document.getElementById('no');
	no1=document.getElementById('no1');
	yes=document.getElementById('yes');

	if(no.checked == true)
		{no1.disabled = false;
	
		}
	if(no.checked == false)
	{

    no1.disabled = true;
	document.getElementById("no1").value="";

	}
}

function oblig() {
	other=document.getElementById('other');
	other1=document.getElementById('other1');
	if(other.checked == true)
		{other1.disabled = false;
	other1.required = true;
		}
	if(other.checked == false)
	{other1.disabled = true;
other1.required = false;
document.getElementById("other1").value="";
	}
}


</script>