
@* _postsFormFields Template File *@
@(postForm: Form[Post], tags: List[Tag])
@helper.inputText(postForm("title"),'class -> "form-control")	
@helper.textarea(postForm("body"),'_label -> "Body",'class -> "form-control")

  @for(tag <- tags) {
    <div class="checkbox">
      <label>
        <input type="checkbox" class="acb" name="tag.id" value="@tag.value">
        @tag.value
      </label>
    </div>
  }
  <input type="text" id="tags" name="tags" hidden >
  