@* _regulationFormFields Template File *@

@import helper._
@(regulationform: Form[Regulation])


<label>1-Tunisian labor laws are good for your startup ? *</label><br>
<b>Poor</b>
<input type="radio" 
     name="favorabilite_loi" value="1">
    1
<input type="radio" 
     name="favorabilite_loi" value="2" required>
     2
<input type="radio" 
     name="favorabilite_loi" value="3">
    3
<input type="radio" 
     name="favorabilite_loi" value="4">
     4
<input type="radio" 
     name="favorabilite_loi" value="5">
     5
     <b>Excellent</b>
     <br>
    <label>2-Taxes are not a handicap for the development of your startup? *</label><br>
    <b>Poor</b>
<input type="radio" 
     name="taxe" value="1">
    1
<input type="radio" 
     name="taxe" value="2" required>
     2
<input type="radio" 
     name="taxe" value="3">
    3
<input type="radio" 
     name="taxe" value="4">
     4
<input type="radio" 
     name="taxe" value="5">
     5
     <b>Excellent</b><br>
     <label>3-The Tunisian exchange regulations is favorable to your startup? *</label><br>
    <b>Poor</b>
<input type="radio" 
     name="favorabilite_reglementation_change" value="1">
    1
<input type="radio" 
     name="favorabilite_reglementation_change" value="2" required>
     2
<input type="radio" 
     name="favorabilite_reglementation_change" value="3">
    3
<input type="radio" 
     name="favorabilite_reglementation_change" value="4">
     4
<input type="radio" 
     name="favorabilite_reglementation_change" value="5">
     5
     <b>Excellent</b><br>
     <label>4-What other regulations affect your startup? List in a few words</label> <br>
    <input type="text" name="autre_reglementation"  class="form-control" >
      <br>
      
      <label>5-Tax incentives (subsidy, export support) are a strong driver for the development of your startup? *</label><br>
    <b>Poor</b>
<input type="radio" 
     name="incitation" value="1">
    1
<input type="radio" 
     name="incitation" value="2" required>
     2
<input type="radio" 
     name="incitation" value="3">
    3
<input type="radio" 
     name="incitation" value="4">
     4
<input type="radio" 
     name="incitation" value="5">
     5
     <b>Excellent</b>
     <br>
  <label>6-Corruption in Tunisia is a major obstacle to the development of your startup: *</label><br>
    <b>Poor</b>
<input type="radio" 
     name="corruption" value="1">
    1
<input type="radio" 
     name="corruption" value="2" required>
     2
<input type="radio" 
     name="corruption" value="3">
    3
<input type="radio" 
     name="corruption" value="4">
     4
<input type="radio" 
     name="corruption" value="5">
     5
     <b>Excellent</b>
     <br>
       <label>7-You have found yourself at least once in a situation to pay a "bribe" to facilitate an affair:</label><br>
    

<input type="radio" 
     name="situation_payer" value="1">
    yes
<input type="radio" 
     name="situation_payer" value="0" >
    no<br>
      <label>8-What is the most urgent measure to be taken by the government to encourage the development of startups?</label><br>
    <select name="mesures_urgente" class="form-control">
  <option value="" disabled selected>select an option</option>
  <option value="Tunisian labor laws">Tunisian labor laws</option>
  <option value="Taxes">Taxes</option>
  <option value="Incentives">Incentives</option>
  <option value="Exchange Regulations">Exchange Regulations</option>
</select>

     