@* _startup_ActFormFields Template File *@

@(Startup_Actform: Form[Startup_Act])
<label>31-I support the project "Startup Act":</label>
<br>
<input type="radio" 
     name="startup_act_support" value="1">
     Yes
<input type="radio" 
     name="startup_act_support" value="0">
    No
    <br>
<label>32-I need more information:</label>  
<br>
 <input type="radio" 
     name="need_of_information" value="1">
     Yes
<input type="radio" 
     name="need_of_information" value="0">
    No
    <br>
<label>33-I have suggestions:</label> 
<br> 

<textarea type="text" name="suggestion" class="form-control" ></textarea>

   