@* _weightingsFormFields Template File *@

@import helper._
@(Weightingsform: Form[Weightings])

Total
 <div class="progress">
     <div  id="progre-ssbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" ></div>
                  </div>

<p>34-Give a weight to the importance of each part of the ecosystem in order to have a total that does not exceed 100%:</p>
Government and regulations:
<br>
<input type="text" id="total"  name="total"s hidden>
<input type="number" name="Regulation" id="Regulation" class="form-control module" min="0" max="100" onKeyPress="if(this.value.length==3) return false;" >

<br>
Funding:
<br>
<input type="number" name="Funding" id="Funding" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">

<br>
Support and Infrastructure:
<br>

<input type="number" name="Support" id="Support" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">
<br>
Entrepreneurial culture:
<br>
<input type="number" name="Cultures" id="Cultures" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">

<br>
Humain Capital:
<br>
<input type="number" name="Capitals" id="Capitals" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">

<br>
Market:
<br>
<input type="number" name="Market" id="Market" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">

<br>
Startup Act:
<br>
<input type="number" name="Startup" id="Startup" class="form-control module" onKeyPress="if(this.value.length==3) return false;" min="0" max="100">

<script>
document.getElementById("total").defaultValue = 0; 
  
$(document).ready(function() {
 	 $('.module').change(function () {
     
   var sum = 0;
   $('.module').each(function() {
        sum += Number($(this).val());
    });

   if(sum > 100) {
       $('.progress-bar').css({'width': 100+'%',backgroundColor: 'red'}).attr('aria-valuenow', sum);
       //elem.innerHTML = 
        document.getElementById("progre-ssbar").className = "progress-bar progress-bar-danger";
       document.getElementById("progre-ssbar").innerHTML=sum* 1  + '%';
      
      // document.getElementById("progre-ssbar").style.backgroundColor="red";
      
     }
   else if(sum < 100) {
	   document.getElementById("progre-ssbar").className = "progress-bar";
        $('.progress-bar').css({'width': sum+'%','background-color':'red'}).attr('aria-valuenow', sum);
        //elem.innerHTML = 
        document.getElementById("progre-ssbar").innerHTML=sum* 1  + '%';
       // alert(sum);
      }
      
       
       else if(sum = 100) {
    	   document.getElementById("progre-ssbar").className = "progress-bar progress-bar-success";
        $('.progress-bar').css({'width': sum+'%','background-color':'green'}).attr('aria-valuenow', sum);
        document.getElementById("progre-ssbar").innerHTML=sum* 1  + '%';
       
//alert(sum);
        }

        
    

   document.getElementById('total').value=sum;
   //alert(document.getElementById("total").value);
      
});
 	
 // $('div.alert').delay(5000).slideUp(300);
 	
});

 </script>
