@* create Template File *@
@import service.UserProvider
@(Culturesform: Form[Cultures],userProvider: UserProvider)
@import helper._
@import views.html.partials._culturesFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h3>Entrepreneurial culture</h3>
	<p>Evaluate each of the following propositions:</p>
		
	
	
@helper.form(action=routes.CulturesController.save()){
@_culturesFormFields(Culturesform)
<br><br>
<button class="btn btn-success" type="submit" ><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>
}}