@* create Template File *@
@import service.UserProvider
@(Startup_Actform: Form[Startup_Act],userProvider: UserProvider)
@import helper._
@import views.html.partials._startup_ActFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h3>Startup Act</h3>
	<p>The Startup Act is a project that presents a regulatory framework for startups in Tunisia. Currently being approved by the PNA. For more information on the Startup Act
	<a href="https://www.ilboursa.com/marches/startup-act-un-cadre-reglementaire-revolutionnaire-pour-faire-de-la-tunisie-une-startup-nation_13166">click here</a>
	</p>
	
	
	
@helper.form(action=routes.Startup_ActController.save()){
@_startup_ActFormFields(Startup_Actform)
<br><br>
<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>

}
}
