@* create Template File *@
@import service.UserProvider
@(tagForm: Form[Tag],userProvider: UserProvider)
@import helper._
@import views.html.partials._tagsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")){
	<h1>create tag</h1>
@helper.form(action=routes.TagsController.save()){
@_tagsFormFields(tagForm)
             
<button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i>Create Tag</button>


}
}






