@* index Template File *@
@import java.text.SimpleDateFormat;
@import service.UserProvider
@(tags: List[Tag],userProvider: UserProvider)
@main(userProvider, Messages("playauthenticate.navigation.Intr")){<h1>All Tags</h1>

@for(tag <-tags){

@tag.value ,
 }<br>
 these are the tags available in our blog do you want to add other tags ??
 <br><br>
 <button class="btn btn-primary " onclick="location.href='@routes.TagsController.create';">add a tag </button>
 <button class="btn btn-primary " onclick="location.href='@routes.PostsController.create';">No thanks</button>
 
 }