@import service.UserProvider
@(regulationform: Form[Regulation],userProvider: UserProvider)
@import helper._
@import views.html.partials._regulationFormFields

@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
	<h1>What do startups think about the ecosystem in Tunisia?</h1>
	<h3>Laws and Regulations</h3>
	<p>Evaluate each of the following propositions:</p>
	
	
	
@helper.form(action=routes.RegulationController.save()){
@_regulationFormFields(regulationform)
<br><br>
<button class="btn btn-success" type="submit" ><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>


}
}
