@* create Template File *@
@import service.UserProvider
@(postForm: Form[Post] , tags: List[Tag],userProvider: UserProvider)
@import helper._
@import views.html.partials._postsFormFields


@main(userProvider, Messages("playauthenticate.navigation.Intr")){
	<h1>create post</h1>
@helper.form(action=routes.PostsController.save()){
@_postsFormFields(postForm,tags)
             

<script>
function test() {
a="";
el=document.getElementsByClassName('acb');
 for (i=0;i<el.length;i++)
    {  if (el[i].checked === true) 
         {	 a=a+el[i].value+"/";
	 
          }
    }      
document.getElementById("tags").value=a;

}
</script>

<button class="btn btn-success" type="submit" onclick="test()"><i class="glyphicon glyphicon-plus"></i>Create Post</button>
		
	  
	  
	  }
	
}
