@* edit Template File *@
@import service.UserProvider
@(Form: Form[Post], tags: List[Tag],userProvider: UserProvider)
@import helper._
@import views.html.partials._postsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")){
	
	<h1>edit </h1>
@helper.form(action=routes.PostsController.update(),'id->"UpdateForm"){
@_postsFormFields(Form,tags)


<button class="btn btn-success " onclick="@routes.PostsController.edit(Form.get().id)">Edit Post</button>

}}