@* index Template File *@
@import service.UserProvider
@import java.text.SimpleDateFormat;
@(posts: List[Post],userProvider: UserProvider,localUser: models.User = null)
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {<h1>All Posts</h1>
@for(post <-posts){

@if(post.user_id == localUser ){

<a class="btn btn-link" href="@routes.PostsController.show(post.id)">@post.title</a>
<p>@post.body</p>
<p>created : @{post.created_at.toGMTString()}</p>
<p> tags : @post.tags </p>
@if(localUser.startup == null){<p>by : @localUser.name</p> } else {<p>by : @localUser.startup</p>}



}
}}