@* show Template File *@
@import service.UserProvider
@(post: Post,userProvider: UserProvider,localUser: models.User = null)
@main(userProvider, Messages("playauthenticate.navigation.Intr")){
	<h2>@post.title</h2>
<p>@post.body</p>
<p>created :  @{post.created_at.toGMTString()}</p>
<p> tags : @post.tags </p>




@if(localUser.startup == null){<p>by : @localUser.name</p> } else {<p>by : @localUser.startup</p>}


<a class="btn btn-primary" href="@routes.PostsController.edit(post.id)">Edit</a>

<a class="btn btn-danger" href="@routes.PostsController.destroy(post.id)">Delete</a>

}

