@* create Template File *@
@import service.UserProvider
@(Marketsform: Form[Markets],userProvider: UserProvider)
@import helper._
@import views.html.partials._marketsFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {

	<h3>Market</h3>
	
		
	
@helper.form(action=routes.MarketsController.save()){
@_marketsFormFields(Marketsform)
<br><br>
<button class="btn btn-success" type="submit" onclick="test();" ><i class="glyphicon glyphicon-plus"></i><b>save and continue</b></button>

<script>

function test()
{
a="";

 el=document.getElementsByClassName('possible_reason');

 b1=document.getElementById('other');


	
  for (i=0,j=1;j<el.length-1,i<el.length-1;j++, i++)
 {

	 
 if ( (el[i].checked === true) && b1.checked=== false )
 {	 a=a+el[i].value+"/";
	 
 }
 if ( (el[i].checked === true) && b1.checked=== true )
 {	 a=a+el[j-1].value+"/";
	 
 }
 
 }
  

  

document.getElementById("possible_reasons").value=a;

}
</script>


}
}