@* create Template File *@
@import service.UserProvider
@(Activitiesform: Form[Activities],userProvider: UserProvider)
@import helper._
@import views.html.partials._activitiesFormFields
@main(userProvider, Messages("playauthenticate.navigation.Intr")) {
<h1>Describe the activity of your Startup:</h1>
	
	
		
	
@helper.form(action=routes.ActivitiesController.save()){
@_activitiesFormFields(Activitiesform)
<br><br>
<button class="btn btn-success" type="submit" onclick="test();"><i class="glyphicon glyphicon-plus"></i><b>save </b></button>
<script>

function test()
{
a="";
op="";
cu="";
c="";
re="";
 el=document.getElementsByClassName('Innov');

 b1=document.getElementById('other1');

 el1=document.getElementsByClassName('type');
 b2=document.getElementById('other3');

 el2=document.getElementsByClassName('Tech');
 b3=document.getElementById('other5');

 el3=document.getElementsByClassName('Geo');
 b4=document.getElementById('other7');

 el4=document.getElementsByClassName('diff');
 for (i=0,j=1;j<el.length-1,i<el.length-1;j++, i++)
 {

	 
 if ( (el[i].checked === true) && b1.checked=== false )
 {	 a=a+el1[i].value+"/";
	 
 }
 if ( (el[i].checked === true) && b1.checked=== true )
 {	 a=a+el[j-1].value+"/";
	 
 }
 
 }

  for (i=0,j=1;j<el1.length-1,i<el1.length-1;j++, i++)
 {

	 
 if ( (el1[i].checked === true) && b2.checked=== false )
 {	 op=op+el1[i].value+"/";
	 
 }
 if ( (el1[i].checked === true) && b2.checked=== true )
 {	 op=op+el1[j-1].value+"/";
	 
 }
 
 }
  
  for (i=0,j=1;j<el2.length-1,i<el2.length-1;j++, i++)
  {

 	 
  if ( (el2[i].checked === true) && b3.checked=== false )
  {	 cu=cu+el2[i].value+"/";
 	 
  }
  if ( (el2[i].checked === true) && b3.checked=== true )
  {	 cu=cu+el2[j-1].value+"/";
 	 
  }
  
  }

  for (i=0,j=1;j<el3.length-1,i<el3.length-1;j++, i++)
  {

 	 
  if ( (el3[i].checked === true) && b4.checked=== false )
  {	 c=c+el3[i].value+"/";
 	 
  }
  if ( (el3[i].checked === true) && b4.checked=== true )
  {	 c=c+el3[j-1].value+"/";
 	 
  }
  
  } 

  for (i=0;i<el4.length-1;i++)
  {

 	 
  if ( (el4[i].checked === true))
  {	 re=re+el4[i].value+"/";
 	 
  }
  
  
  } 

document.getElementById("hid").value=a;
document.getElementById("type_contract_employee").value=op;
document.getElementById("technology").value=cu;
document.getElementById("geographical_targeting").value=c;
document.getElementById("difficulty_type").value=re;

}
</script>



}

}