@* _accounttypePartial Template File *@
@(f: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
<label>Account Type:</label>
   <input type="radio" name="accounttype" value="Personnal"  required >  Personnal
   <input type="radio" name="accounttype"  value="Startup" required> Startup   

<br>