@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.login.title"),"login") {

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>

  <div id="login" class="row">

    <div class="col-xs-6 col-sm-4">
      @* Display proprietary login form *@
    	@helper.form(routes.Application.doLogin, 'class -> "form-horizontal", 'role -> "form") {

        @if(loginForm.hasGlobalErrors) {
          	<p class="alert alert-danger">
	          @loginForm.globalError.message
	     	</p>
        }

        @_emailPartial(loginForm)

        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )

            <button type="submit" class="btn btn-default">@Messages("playauthenticate.login.now")</button>

        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>

  

  </div>

}

