@import service.UserProvider
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userProvider: UserProvider, localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.profile.title"),"profile") {

    <h1>@Messages("playauthenticate.profile.title")</h1>
    

    	<li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
   
}
