@import service.UserProvider
@(userForm: Form[User],userProvider: UserProvider ,localUser: models.User = null )

@import com.feth.play.module.pa.views.html._

@main(userProvider, Messages("playauthenticate.navigation.Intr")) {


@helper.form(action=routes.StartupInformationController.update() , 'enctype -> "multipart/form-data"){

 <script >
 document.getElementByName("member").value=@localUser.member;
 document.getElementByName("organisation").value=@localUser.startup;
 document.getElementByName("accounttype").value=@localUser.accounttype;
 
 </script>



    <h1>Edit your startup information!</h1>
    

    <label>This information is treated according to our <a href="#">Privacy Policy</a> </label>
    <h3>Personnel Information </h3>
    <label>Name: *</label>
    <input type="text" name="name" class="form-control" value="@localUser.name"required><br>
    <label>Account type: *</label>


<select name="accounttype" id="mySelect" class="form-control" >
<option value="Personnal">Personnal</option>
  <option value="Startup">Startup</option>
  </select>
  <br>
  
<label>CIN: *</label>
<input type="text" name="cin" pattern="[0-9]{8}" value="@localUser.cin" class="form-control" ><br>
<label>Social Capital:</label>  
<input type="text" name="Capital_social" pattern="[0-9]{*}" value="@localUser.capital_social" class="form-control" >
 
 <label>Are you a member of Tunisian Startup *:</label>
 <input type="radio" name="member" value="true" required>Yes
<input type="radio" name="member" value="false" required>No
<br>
<label>Do you consider your business a Startup? Strong potential for innovation and strong potential to address international markets. :</label><br>
 <input type="radio" name="organisation" value="Yes" >Yes
<input type="radio" name="organisation" value="No" >No
 <input type="radio" name="organisation" value="Maybe" >Maybe <br>
  
   <label>Address:*</label>
   <input type="text" name="address" class="form-control" value="@localUser.address " required><br>
   
   <label>City:</label>
   <input type="text" name="city" class="form-control" value="@localUser.city" ><br>
   
   <label>State:</label>
   <input type="text" name="state" class="form-control" value="@localUser.state"><br>
   
   <label>Postal Code</label>
   <input type="text" name="postalcode" class="form-control" value="@localUser.postalcode"><br>
   
   <label>Country</label>
   
   <select class="form-control" id="country" name="country" value="@localUser.country"required>
	                		        <option selected="selected" value="">Please select a country</option>
	                		        <option value="United States">United States</option>
	                		        <option value="Afghanistan">Afghanistan</option>
	                		        <option value="Albania">Albania</option>
	                		        <option value="Algeria">Algeria</option>
	                		        <option value="Andorra">Andorra</option>
	                		        <option value="Angola">Angola</option>
	                		        <option value="Anguilla">Anguilla</option>
	                		        <option value="Antarctica">Antarctica</option>
	                		        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
	                		        <option value="Argentina">Argentina</option>
	                		        <option value="Armenia">Armenia</option>
	                		        <option value="Aruba">Aruba</option>
	                		        <option value="Australia">Australia</option>
	                		        <option value="Austria">Austria</option>
	                		        <option value="Azerbaidjan">Azerbaidjan</option>
	                		        <option value="Bahamas">Bahamas</option>
	                		        <option value="Bahrain">Bahrain</option>
	                		        <option value="Bangladesh">Bangladesh</option>
	                		        <option value="Barbados">Barbados</option>
	                		        <option value="Belarus">Belarus</option>
	                		        <option value="Belgium">Belgium</option>
	                		        <option value="Belize">Belize</option>
	                		        <option value="Benin">Benin</option>
	                		        <option value="Bermuda">Bermuda</option>
	                		        <option value="Bhutan">Bhutan</option>
	                		        <option value="Bolivia">Bolivia</option>
	                		        <option value="Bosnia-Herzegovina">Bosnia-Herzegovina</option>
	                		        <option value="Botswana">Botswana</option>
	                		        <option value="Bouvet Island">Bouvet Island</option>
	                		        <option value="Brazil">Brazil</option>
	                		        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
	                		        <option value="Brunei Darussalam">Brunei Darussalam</option>
	                		        <option value="Bulgaria">Bulgaria</option>
	                		        <option value="Burkina Faso">Burkina Faso</option>
	                		        <option value="Burundi">Burundi</option>
	                		        <option value="Cambodia">Cambodia</option>
	                		        <option value="Cameroon">Cameroon</option>
	                		        <option value="Canada">Canada</option>
	                		        <option value="Cape Verde">Cape Verde</option>
	                		        <option value="Cayman Islands">Cayman Islands</option>
	                		        <option value="Central African Republic">Central African Republic</option>
	                		        <option value="Chad">Chad</option>
	                		        <option value="Chile">Chile</option>
	                		        <option value="China">China</option>
	                		        <option value="Christmas Island">Christmas Island</option>
	                		        <option value="Cocos Islands">Cocos Islands</option>
	                		        <option value="Colombia">Colombia</option>
	                		        <option value="Comoros">Comoros</option>
	                		        <option value="Congo">Congo</option>
	                		        <option value="Congo, Democratic Republic">Congo, Democratic Republic</option>
	                		        <option value="Cook Islands">Cook Islands</option>
	                		        <option value="Costa Rica">Costa Rica</option>
	                		        <option value="Cote D'Ivoire">Cote D'Ivoire</option>
	                		        <option value="Croatia">Croatia</option>
	                		        <option value="Cuba">Cuba</option>
	                		        <option value="Curacao">Curacao</option>
	                		        <option value="Cyprus">Cyprus</option>
	                		        <option value="Czech Republic">Czech Republic</option>
	                		        <option value="Denmark">Denmark</option>
	                		        <option value="Djibuti">Djibuti</option>
	                		        <option value="Dominica">Dominica</option>
	                		        <option value="Dominican Republic">Dominican Republic</option>
	                		        <option value="Ecuador">Ecuador</option>
	                		        <option value="Egypt">Egypt</option>
	                		        <option value="El Salvador">El Salvador</option>
	                		        <option value="Equatorial Guinea">Equatorial Guinea</option>
	                		        <option value="Eritrea">Eritrea</option>
	                		        <option value="Estonia">Estonia</option>
	                		        <option value="Ethiopia">Ethiopia</option>
	                		        <option value="Falkland Islands">Falkland Islands</option>
	                		        <option value="Faroe Islands">Faroe Islands</option>
	                		        <option value="Fiji">Fiji</option>
	                		        <option value="Finland">Finland</option>
	                		        <option value="France">France</option>
	                		        <option value="French Guiana">French Guiana</option>
	                		        <option value="French Polynesia">French Polynesia</option>
	                		        <option value="French Southern Territories">French Southern Territories</option>
	                		        <option value="Gabon">Gabon</option>
	                		        <option value="Gambia">Gambia</option>
	                		        <option value="Georgia">Georgia</option>
	                		        <option value="Germany">Germany</option>
	                		        <option value="Ghana">Ghana</option>
	                		        <option value="Gibraltar">Gibraltar</option>
	                		        <option value="Greece">Greece</option>
	                		        <option value="Greenland">Greenland</option>
	                		        <option value="Grenada">Grenada</option>
	                		        <option value="Guadeloupe">Guadeloupe</option>
	                		        <option value="Guatemala">Guatemala</option>
	                		        <option value="Guinea">Guinea</option>
	                		        <option value="Guinea Bissau">Guinea Bissau</option>
	                		        <option value="Guyana">Guyana</option>
	                		        <option value="Haiti">Haiti</option>
	                		        <option value="Heard and MC Donald Islands">Heard and MC Donald Islands</option>
	                		        <option value="Honduras">Honduras</option>
	                		        <option value="Hong Kong">Hong Kong</option>
	                		        <option value="Hungary">Hungary</option>
	                		        <option value="Iceland">Iceland</option>
	                		        <option value="India">India</option>
	                		        <option value="Indonesia">Indonesia</option>
	                		        <option value="Iran">Iran</option>
	                		        <option value="Iraq">Iraq</option>
	                		        <option value="Ireland">Ireland</option>
	                		        <option value="Israel">Israel</option>
	                		        <option value="Italy">Italy</option>
	                		        <option value="Jamaica">Jamaica</option>
	                		        <option value="Japan">Japan</option>
	                		        <option value="Jordan">Jordan</option>
	                		        <option value="Kazakhstan">Kazakhstan</option>
	                		        <option value="Kenya">Kenya</option>
	                		        <option value="Kiribati">Kiribati</option>
	                		        <option value="Korea, Democratic People's Rep">Korea, Democratic People's Rep</option>
	                		        <option value="Korea, Republic of">Korea, Republic of</option>
	                		        <option value="Kosovo">Kosovo</option>
	                		        <option value="Kuwait">Kuwait</option>
	                		        <option value="Kyrgyzstan">Kyrgyzstan</option>
	                		        <option value="Laos">Laos</option>
	                		        <option value="Latvia">Latvia</option>
	                		        <option value="Lebanon">Lebanon</option>
	                		        <option value="Lesotho">Lesotho</option>
	                		        <option value="Liberia">Liberia</option>
	                		        <option value="Libya">Libya</option>
	                		        <option value="Liechtenstein">Liechtenstein</option>
	                		        <option value="Lithuania">Lithuania</option>
	                		        <option value="Luxembourg">Luxembourg</option>
	                		        <option value="Macau">Macau</option>
	                		        <option value="Macedonia">Macedonia</option>
	                		        <option value="Madagascar">Madagascar</option>
	                		        <option value="Malawi">Malawi</option>
	                		        <option value="Malaysia">Malaysia</option>
	                		        <option value="Maldives">Maldives</option>
	                		        <option value="Mali">Mali</option>
	                		        <option value="Malta">Malta</option>
	                		        <option value="Marshall Islands">Marshall Islands</option>
	                		        <option value="Martinique">Martinique</option>
	                		        <option value="Mauritania">Mauritania</option>
	                		        <option value="Mauritius">Mauritius</option>
	                		        <option value="Mayotte">Mayotte</option>
	                		        <option value="Mexico">Mexico</option>
	                		        <option value="Micronesia">Micronesia</option>
	                		        <option value="Moldava">Moldava</option>
	                		        <option value="Monaco">Monaco</option>
	                		        <option value="Mongolia">Mongolia</option>
	                		        <option value="Montenegro">Montenegro</option>
	                		        <option value="Montserrat">Montserrat</option>
	                		        <option value="Morocco">Morocco</option>
	                		        <option value="Mozambique">Mozambique</option>
	                		        <option value="Myanmar">Myanmar</option>
	                		        <option value="Namibia">Namibia</option>
	                		        <option value="Nauru">Nauru</option>
	                		        <option value="Nepal">Nepal</option>
	                		        <option value="Netherlands">Netherlands</option>
	                		        <option value="Netherlands Antilles">Netherlands Antilles</option>
	                		        <option value="New Caledonia">New Caledonia</option>
	                		        <option value="New Zealand">New Zealand</option>
	                		        <option value="Nicaragua">Nicaragua</option>
	                		        <option value="Niger">Niger</option>
	                		        <option value="Nigeria">Nigeria</option>
	                		        <option value="Niue">Niue</option>
	                		        <option value="Norfolk Island">Norfolk Island</option>
	                		        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
	                		        <option value="Norway">Norway</option>
	                		        <option value="Oman">Oman</option>
	                		        <option value="Pakistan">Pakistan</option>
	                		        <option value="Palau">Palau</option>
	                		        <option value="Palestine">Palestine</option>
	                		        <option value="Panama">Panama</option>
	                		        <option value="Papua New Guinea">Papua New Guinea</option>
	                		        <option value="Paraguay">Paraguay</option>
	                		        <option value="Peru">Peru</option>
	                		        <option value="Philippines">Philippines</option>
	                		        <option value="Pitcairn">Pitcairn</option>
	                		        <option value="Poland">Poland</option>
	                		        <option value="Portugal">Portugal</option>
	                		        <option value="Qatar">Qatar</option>
	                		        <option value="Reunion">Reunion</option>
	                		        <option value="Romania">Romania</option>
	                		        <option value="Russian Federation">Russian Federation</option>
	                		        <option value="Rwanda">Rwanda</option>
	                		        <option value="S Georgia and S Sandwich Islands">S Georgia and S Sandwich Islands</option>
	                		        <option value="Samoa">Samoa</option>
	                		        <option value="San Marino">San Marino</option>
	                		        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
	                		        <option value="Saudi Arabia">Saudi Arabia</option>
	                		        <option value="Senegal">Senegal</option>
	                		        <option value="Serbia">Serbia</option>
	                		        <option value="Seychelles">Seychelles</option>
	                		        <option value="Sierra Leone">Sierra Leone</option>
	                		        <option value="Singapore">Singapore</option>
	                		        <option value="Slovakia">Slovakia</option>
	                		        <option value="Slovenia">Slovenia</option>
	                		        <option value="Solomon Islands">Solomon Islands</option>
	                		        <option value="Somalia">Somalia</option>
	                		        <option value="South Africa">South Africa</option>
	                		        <option value="Spain">Spain</option>
	                		        <option value="Sri Lanka">Sri Lanka</option>
	                		        <option value="St Helena">St Helena</option>
	                		        <option value="St Kitts and Nevis">St Kitts and Nevis</option>
	                		        <option value="St Lucia">St Lucia</option>
	                		        <option value="St Pierre and Miquelon">St Pierre and Miquelon</option>
	                		        <option value="St Vincent and Grenadines">St Vincent and Grenadines</option>
	                		        <option value="Sudan">Sudan</option>
	                		        <option value="Suriname">Suriname</option>
	                		        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
	                		        <option value="Swaziland">Swaziland</option>
	                		        <option value="Sweden">Sweden</option>
	                		        <option value="Switzerland">Switzerland</option>
	                		        <option value="Syria">Syria</option>
	                		        <option value="Taiwan">Taiwan</option>
	                		        <option value="Tajikistan">Tajikistan</option>
	                		        <option value="Tanzania">Tanzania</option>
	                		        <option value="Thailand">Thailand</option>
	                		        <option value="Timor-Leste">Timor-Leste</option>
	                		        <option value="Togo">Togo</option>
	                		        <option value="Tokelau">Tokelau</option>
	                		        <option value="Tonga">Tonga</option>
	                		        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
	                		        <option value="Tunisia" selected>Tunisia</option>
	                		        <option value="Turkey">Turkey</option>
	                		        <option value="Turkmenistan">Turkmenistan</option>
	                		        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
	                		        <option value="Tuvalu">Tuvalu</option>
	                		        <option value="US Minor Islands">US Minor Islands</option>
	                		        <option value="Uganda">Uganda</option>
	                		        <option value="Ukraine">Ukraine</option>
	                		        <option value="United Arab Emirates">United Arab Emirates</option>
	                		        <option value="United Kingdom">United Kingdom</option>
	                		        <option value="Uruguay">Uruguay</option>
	                		        <option value="Uzbekistan">Uzbekistan</option>
	                		        <option value="Vanuatu">Vanuatu</option>
	                		        <option value="Vatican City">Vatican City</option>
	                		        <option value="Venezuela">Venezuela</option>
	                		        <option value="Vietnam">Vietnam</option>
	                		        <option value="Virgin Islands (British)">Virgin Islands (British)</option>
	                		        <option value="Wallis and Futuna">Wallis and Futuna</option>
	                		        <option value="Western Sahara">Western Sahara</option>
	                		        <option value="Yemen">Yemen</option>
	                		        <option value="Yugoslavia">Yugoslavia</option>
	                		        <option value="Zambia">Zambia</option>
	                		        <option value="Zimbabwe">Zimbabwe</option>
	                				</select> <br>
   
   
   <h3>Contact </h3><br>
   
   <label>Telephone: *</label>
<input type="text" name="phone" pattern="[0-9]{8}" class="form-control" value="@localUser.phone" required><br>

   
     <label>landline phone:</label>
<input type="text" name="fixed_Line" pattern="[0-9]{8}" class="form-control" value="@localUser.fixed_Line" ><br>
<label>Email: *</label>
<input type="email" name="email" class="form-control" value="@localUser.email" required ><br>
   <h3>Startup </h3><br>   
<label>Startup name: *</label>
<input type="text" name="startup" class="form-control" value="@localUser.startup" required><br>

<label>Trade Registry: </label>
<input type="text" name="registre_commerce" class="form-control" value="@localUser.registre_commerce"><br>
         
<label>Fiscal number: </label>
<input type="text" name="vat" class="form-control" value="@localUser.vat"><br>
            
  <label>Legal entity: </label>
<input type="text" name="legal_entity" class="form-control" value="@localUser.legal_entity"><br> 
 <label>Logo: </label><br>
      img type must be : .jpg, .gif, .jpeg, .png
      <input type="file" name="image" class="form-control" accept=".jpg , .png, .jpeg , .gif"  ><br>
   
   

<br><br>
<button class="btn btn-success" type="submit" ><i class="glyphicon glyphicon-plus"></i><b>save </b></button>
}
   

  
   
   
   
   
   
   
   
    
    <br />
     
  

    <br/>
  
    <br/>
    
    </p>
}
